    <!-- <div class="container mt-5"> -->
        <div class="row">
        <div class="col-md-3 mt-4" *ngFor='let github1 of github'>           
            <a href="">
         <img src="{{github1.avatar_url}}"  class="card card-img-top float-left" alt="" style=" background-color:blue">
         </a>
        <h3 class="text-center">{{github1.id}} </h3>
         <h4 class="text-center">{{github1.node_id}}</h4>
         <h4 class="text-center"> <a href=" {{github1.url}}"> More Info</a></h4>

    <!-- </div> -->
</div>
</div>



