<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>TaskName</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let b2 of service.taskArray;index as i'>
            <td scope="row">{{i+1}}</td>
            <td>{{b2.name}}</td>
            <td> <button type="submit" class="btn btn-outline-warning" (click)="updatetask(b2)">Edit</button></td>
            <td> <button type="submit" class="btn btn-outline-danger" (click)="deletetask(b2)">delete</button></td>

        </tr>
      
    </tbody>
</table>