<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let emp of Employee'>
            <td scope="row">{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.dob}}</td>
            <td>
                <button class="btn btn-outline-warning" (click)="updateEmployee(emp)">Update</button>
            </td>
            <td>
                <button class="btn btn-outline-danger" (click)="deleteEmployee(emp)">Delete</button>
            </td>
           
        </tr>
    </tbody>
</table>