/* .col-md-5.offset-md-3.mt-5.card.card-body{
    background: lightslategrey;
} */

#d1{
    background: rgb(24, 76, 128);
}
.abc{
    background-color: rgba(41, 39, 39, 0.514);
    
}
body{
    background-color: darkgray
}

