<!-- <p>if-switch works!</p>

<div *ngIf='condition' >


</div> -->
<!-- <input type="text" #inputElement>

<button (click)="printInput(inputElement)">Print this input field </button> -->

<!-- 
<div *ngIf='condition;then trueBlock else falseBlock' ></div>

    <ng-template #trueBlock>condition is true</ng-template>
    <ng-template #falseBlock>condition is false</ng-template>
 -->


 <div [ngSwitch] ='person'>

     <p *ngSwitchCase="'pratik'"> Pratik's code is running</p>
     <p *ngSwitchCase="'manu'"> manu's code is running</p>
     <p *ngSwitchCase="'aishu'"> aishu's code is running</p>
     <p *ngSwitchCase="'omya'"> omya's code is running</p>
     <p *ngSwitchDefault>default code is running</p>

 </div>