#grad
{
    height: 300px;
    background:linear-gradient(to right, red, yellow,rgb(0, 255, 21),black);
    font-size: 700%;

}
#grad1
{
    height: 300px;
    background:radial-gradient( rgb(68, 10, 10), yellow,blue,black);
    font-size: 700%;
}