.add
{
    color: red;
    background: white;
}
.add1
{
    font-size: 40px;
}

.form{
    background:rgb(96, 163, 8);
    height: 85%;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-top: 10%;
    width: 36%;
    border-radius: 5%;
    border: 4px solid black;
}

.blue
{
    color: brown;
    background: black;
}
.ss
{
    font-size: 40px;
     
}