<div class="container col-md-7">
        <div class=" card card-body col-md-10 mt-4" *ngFor='let tech of Technology'>
            <a href="">
                <img src="{{tech.urlToImage}}" alt="" class="card-img-top float-left">
            </a>
    
            <h3 class="text-center">
                {{tech.title}}
            </h3>
            <p>
                {{tech.description}}
            </p>
             <a href="{{tech.url}}" class="btn btn-primary"> </a>
            click here for info 
        </div>
    </div>