table{
    border: 1px solid black; 
    background-color: grey;
    margin-top:40px;
    margin-left: 50px; 
}
#bt
{
    background-color: black;
    color: orangered;
    text-align: center;
    /* width:60%; */
}
td,th{
    padding: 10px;
}
#bt:hover{
   background-color: blue;
   /* color: chocolate; */
}
