
table{
    /* background-color: grey; */
 border: 1px solid black; 
 border-collapse: collapse;
 margin-bottom:0px;
 margin-left: 25px;
 padding: 0%;
 width: 80%;
height: 60%; 
 

} 
 body{ 
    width:50%; 
     height: 60%;  
border: 2px solid white;

 }

p{
    margin: 0%;
    margin-left: 25px;
    padding-top: 10px;
}
div{
    background-color:grey;
    height:40%; 
    margin: 57px;
    padding: 32px;
     width: 70%; 
    
}
td:hover{
    background-color:goldenrod;
    cursor: pointer;
}