<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">Header</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/firebase">firebase</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/studententry">studententry</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/studentdetails">studentdetails</a>
            </li>

        </ul>

    </div>
</nav>