<div style="background-color:cornflowerblue" >
        <div class="row">
             <div class="col-md-3">
             <!-- <div class="container col-md-7"> -->
                <div class=" card card-body  mt-4" *ngFor='let sport of Sport'>
                    <a href="">
                        <img src="{{sport.urlToImage}}" alt="" class="card-img-top float-left">
                    </a>
            
                    <h3 class="text-center">
                        {{sport.title}}
                    </h3>
                    <p>
                        {{sport.description}}
                    </p>
                     <a href="{{sport.url}}" class="btn btn-primary"> </a>
                    click here for info 
                <!-- </div> -->
            <!-- </div> -->
        </div>
</div>

<div class="col-md-6  mt-1 float-left">
        <!-- <div class="row"> -->

<!-- <div class="container col-md-7"> -->
        <div class=" card card-body  mt-4" *ngFor='let gen of General'>  
            <!-- <a href=""> <img src="{{gen.urlToImage}}" alt="" class="card-img-top float-left"></a> -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                    <img src="{{gen.urlToImage}}" alt="" class="card-img-top float-left">
                     </div>
                      <div class="carousel-item">
                        <img src="{{gen.urlToImage}}" class="card-img-top float-left" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{{gen.urlToImage}}" class="card-img-top float-left" alt="...">
                      </div>
                    </div>
                  </div>
            <h3 class="text-center">
                {{gen.title}}
            </h3>
            <p>
                {{gen.description}}
            </p>
             <!-- <a href="{{gen.url}}" class="btn btn-primary"> </a>
            click here for info  -->
         <!-- </div>  -->
    </div>
</div>

<div class="col-md-3">

        <!-- <div class="container col-md-7"> -->
                <div class=" card card-body mt-4" *ngFor='let tech of Technology'>
                    <a href="">
                        <img src="{{tech.urlToImage}}" alt="" class="card-img-top float-left">
                    </a>
            
                    <h3 class="text-center">
                        {{tech.title}}
                    </h3>
                    <p>
                        {{tech.description}}
                    </p>
                     <a href="{{tech.url}}" class="btn btn-primary"> </a>
                    click here for info 
                <!-- </div> -->
            </div>
</div>
</div>
</div>