<p>two-way works!</p>
<div class="col-md-4 offset-md-4 card card-body mt-5">

    <input type="text" [(ngModel)]="dataFromInput" class="form-control" (keyup)='buttonEvent(dataFromInput) '> 

</div>
<!-- <h1 class="text-center">{{dataFromInput}}</h1> -->

<!-- <img src="{{dataFromInput}}" alt=""> -->


<!-- <button class="btn btn-primary" onclick="alert('hello how are you?')">
    give alert</button> -->

    <!-- <button class="btn btn-primary" (keyup)='buttonEvent(dataFromInput)'>
            give alert</button> -->

            <h1 class="text-center" [style.background]="backgroundColor">Event and Property Binding</h1>


            <button class="btn btn-primary" (click)="colorChange(dataFromInput)">color change</button>

