#b1
{
      
padding: -30%;
}
card-body
{
    height: 90%;
    width: 70%;
    background-color:red;
    border: 2px solid blue;
}
Poster

{
    height: 90%;
    width: 70%;
    background-color:red;
    border: 2px solid blue;
}